* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.outline {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  min-height: 400px;
  background-color: rgba(40, 40, 40, 0.7); }

.cubrir {
  position: relative;
  z-index: 2; }

.clear {
  clear: both; }

.container {
  max-width: 1200px;
  padding: 0 2%;
  margin: 0 auto; }

header {
  background-image: url("../Img/background.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  min-height: 400px;
  padding: 0 2%; }
  header .menu-topo {
    margin-bottom: 80px;
    padding-top: 10px; }
  header .logo {
    float: left;
    height: 30px; }
  header nav.desktop {
    float: right; }
  header .desktop ul {
    list-style-type: none; }
  header .desktop li {
    display: inline-block;
    margin: 0 15px; }
  header .desktop a {
    color: white;
    text-decoration: none; }
  header .desktop .btn-nav {
    padding: 5px 8px;
    border-radius: 5px;
    border: 2px solid black; }
  header .chamada-header {
    padding-top: 20px;
    padding-bottom: 40px;
    max-width: 600px; }
  header .chamada-header h2 {
    font-size: 40px;
    color: white;
    padding-bottom: 20px; }
  header .chamada-header p {
    color: white;
    padding-bottom: 20px; }
  header .chamada-header input[type=email] {
    width: 45%;
    float: left;
    margin-right: 10px;
    border: 0;
    outline: none;
    padding: 15px;
    border-radius: 15px; }
  header .chamada-header input[type=submit] {
    width: 45%;
    float: left;
    border: 0;
    outline: none;
    padding: 15px;
    border-radius: 15px;
    background-color: orangered;
    color: white;
    border-bottom: 4px solid orange;
    border-right: 2px solid orange;
    cursor: pointer; }

section.description0 {
  padding: 20px; }
  section.description0 .container {
    max-width: 800px; }
  section.description0 p {
    text-align: center;
    font-size: 20px;
    font-weight: 800; }

section.description1 {
  padding: 40px 0; }
  section.description1 .descricao-texto {
    float: left;
    width: 60%; }
  section.description1 .img {
    float: left;
    width: 40%;
    padding: 0 2%; }
  section.description1 img {
    max-width: 100%; }
  section.description1 .descricao-texto h2 {
    line-height: 32px;
    padding-bottom: 20px; }

section.servicos {
  padding: 40px; }
  section.servicos .container {
    max-width: 900px; }
  section.servicos .container .servicos-title {
    text-align: center;
    padding: 20px 0; }
  section.servicos .flex-servicos {
    display: flex;
    flex-wrap: wrap; }
  section.servicos .box-servicos {
    border: 10px solid #e4ddd0;
    border-radius: 20px;
    background: #ccc;
    width: 33.3%;
    box-shadow: 0 8px 20pxrgba 224, 224, 224, 0.5; }
  section.servicos .box-servicos-wraper {
    padding: 20px; }
  section.servicos .box-servicos-wraper h2 {
    line-height: 32px;
    font-size: 25px;
    color: #302412; }
  section.servicos .box-servicos-wraper p {
    line-height: 20px;
    margin-bottom: 10px; }
  section.servicos .box-servicos img {
    width: 100%;
    border-radius: 10px 10px 0 0; }
  section.servicos .box-servicos-wraper a {
    text-decoration: none;
    color: #6a7e92;
    border-radius: 10px;
    border: 2px solid #6a7e92;
    padding: 5px 12px; }

section.portfolio > .container {
  padding: 15px 0;
  background: #ccc5b8;
  text-align: center; }
  section.portfolio > .container .portfolio h2 {
    padding-bottom: 20px; }
  section.portfolio > .container .logos {
    padding: 0 10px;
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap; }
  section.portfolio > .container .logo-single {
    align-items: center;
    justify-content: center;
    width: 25%;
    border-color: #ccc;
    border-width: 1px 0 1px 1px;
    border-style: solid; }

section.formulario {
  padding: 20px; }
  section.formulario .container {
    max-width: 650px; }
  section.formulario h2 {
    text-align: center;
    padding: 20px 0; }
  section.formulario form input[type=text], section.formulario form input[type=email] {
    width: 100%;
    padding: 10px 10px;
    outline: none;
    border: none;
    margin-bottom: 20px;
    border-radius: 10px;
    -web-kit-appearance: none; }
  section.formulario form textarea {
    resize: none;
    width: 100%;
    height: 150px;
    outline: none;
    padding: 10px;
    border: none; }
  section.formulario form input[type=submit] {
    cursor: pointer;
    border: 0;
    padding: 5px 12px;
    border-bottom: 4px solid purple;
    background: red;
    color: white;
    margin: 0 auto;
    display: block;
    -web-kit-appearance: none; }

footer {
  padding: 40px 0;
  background: purple; }
  footer .box-footer {
    float: left;
    width: 33.3%;
    color: orange; }
  footer form input {
    padding: 10px;
    border: 0;
    outline: none;
    border-radius: 20px; }
  footer form {
    margin-top: 20px; }
  footer .box-footer h2 {
    margin-bottom: 20px; }
  footer buttom {
    margin: 0 10px;
    border: 2px solid white;
    border-radius: 20px;
    padding: 10px;
    color: white; }

.footer {
  background-color: #3d093d;
  text-align: center;
  padding: 10px 2%;
  text-decoration: none; }
  .footer span {
    color: white;
    font-size: 20px; }

/*# sourceMappingURL=style.css.map */
